---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% include base_path %}

{% assign upcoming = site.talks | where_exp: "post", "post.date >= site.time" %}
{% if upcoming.size > 0 %}
<h2 id="upcoming-talks">Upcoming Talks</h2>
{% for post in upcoming %}
  {% include archive-single-talk.html %}
{% endfor %}
{% endif %}

<h2>Conferences</h2>
{% for post in site.talks reversed %}
  {% if post.type == "Conference talk" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>Workshops &amp; Schools</h2>
{% for post in site.talks reversed %}
  {% if post.type == "Workshop talk" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>Seminars</h2>
{% for post in site.talks reversed %}
  {% if post.type == "Seminar" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>PhD Defense</h2>
{% for post in site.talks reversed %}
  {% if post.type == "PhD Defense" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}
